
<h1>
Nuevo Usuario
</h1>

<div fxLayout="row"
   fxLayoutGap="40px"
   fxLayout.xs="column">

  <mat-form-field fxFlex="100" fxLayout.xs="column" >
    <mat-label>Email</mat-label>
    <input matInput
           type="text"
           [(ngModel)]="usuario.email"
           required>
  </mat-form-field>

  <div fxFlex="50" fxLayout="column">

      <div fxLayout="row"
           fxLayout.xs="column"
           fxLayoutGap="20px">

          <mat-form-field fxFlex="100" fxLayout.xs="column" >
              <mat-label>Nombre</mat-label>
              <input matInput
                     type="text"
                     [(ngModel)]="usuario.nombre"
                     required>
          </mat-form-field>


          <mat-form-field fxFlex="100">
              <mat-label>Apellidos</mat-label>
              <input matInput
                     type="text"
                     [(ngModel)]="usuario.apellido"
                     required>
          </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>DNI</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="usuario.dni"
               required>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput
                 type="text"
                 [(ngModel)]="usuario.password"
                 required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="usuario.rol" matInput required>
          <mat-option *ngFor="let rol of roles"
           [value]="rol.idTipo">{{rol.valor}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>


      <div fxLayout fxLayoutGap="20px">
          <button mat-raised-button
                  color="primary"
                  (click)="crear()">
              <mat-icon>add</mat-icon>
              Crear
          </button>
      </div>
      <span *ngIf="errorPass" class="error"> Error La contraseña debe contener una mayuscula, digito y caracter especial</span>

  </div>


</div>
