
<h1>
  Cambiar Contraseña
  </h1>

  <div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <mat-form-field fxFlex="100" fxLayout.xs="column" >
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput
             type="password"
             [(ngModel)]="pass1"
             required>
    </mat-form-field>

    <mat-form-field fxFlex="100" fxLayout.xs="column" >
      <mat-label>Repetir Contraseña</mat-label>
      <input matInput
             type="password"
             [(ngModel)]="pass2"
             required>
    </mat-form-field>

        <br>


        <div fxLayout fxLayoutGap="20px">
            <button mat-raised-button
                    color="primary"
                    (click)="cambiar()">
                <mat-icon>edit</mat-icon>
                Cambiar Contraseña
            </button>
        </div>

    </div>
    <span *ngIf="errorPass" class="error"> Error La contraseña debe contener una mayuscula, digito y caracter especial</span>




