

<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">

      <mat-toolbar color="primary">
          <span>Menú</span>
          <span class="spacer"></span>
          <button mat-icon-button
                  (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>

      </mat-toolbar>

      <mat-nav-list>
          <a routerLink="/entidades/listado"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>label</mat-icon>
              <span>Listado de Entidades Deportivas</span>
          </a>

          <a routerLink="/entidades/anadir"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>add</mat-icon>
              <span>Añadir Entidad Deportivas</span>
          </a>

          <a routerLink="/entidades/buscar"
             mat-list-item
             (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>search</mat-icon>
              <span>Búscar Entidad Deportiva</span>
          </a>

          <mat-divider></mat-divider>

          <a routerLink="/usuarios/listado"
          mat-list-item
          (click)="sidenav.toggle()">
           <mat-icon mat-list-icon>face</mat-icon>
           <span>Listado de Usuarios</span>
          </a>


          <a routerLink="/usuarios/anadir"
          mat-list-item
          (click)="sidenav.toggle()">
           <mat-icon mat-list-icon>person-add</mat-icon>
           <span>Crear Usuario</span>
          </a>

          <a routerLink="/usuarios/buscar"
          mat-list-item
          (click)="sidenav.toggle()">
           <mat-icon mat-list-icon>search</mat-icon>
           <span>Buscar Usuario</span>
          </a>

      </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>
      <button mat-icon-button
              (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-raised-button color="warn">
          Cerrar Sesión
      </button>
  </mat-toolbar>


  <div class="container">
      <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
